<h1 class="text-center">Your request </h1>
<div class="container" style="max-width: 450px; background: #b9d3ea; border-radius: 10px; padding-top: 10px;">
<%= form_for :user, local: true do |form| %>
    <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do|msg| %>
    <div class="alert alert-danger"><%= msg %></div>
  <% end %>
<% end %>
   <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, class: 'form-control ',required: true%>
  </p>

   <p>
    <%= form.label :email %><br>
    <%= form.text_field :email,class: 'form-control', required: true  %>
  </p>

  <p>
  <%= fields_for :request do |request_fields| %>
            <hr>
            <%=request_fields.select(:request_type,  Request::TYPE_OF_REQUEST) %><br/> 
            <hr>
            Subject
            <%= request_fields.text_field :subject, class: 'form-control', required: true %><br/>
             Text
            <%= request_fields.text_area :text, class: 'form-control', required: true, minlength: 3 %><br/>
        <% end %>
  </p>

  <p>
    <%= form.submit "Send request",style: 'margin-bottom: 20px;'%>
  </p>
<% end %>
</div>