<div class='container' style=
   'overflow: hidden;
    overflow-wrap: break-word;
    background: #afcce6;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;'>
     <%= link_to 'Back', requests_all_path %>
     <%= form_with(url: @user_request.uniq_url , action: :update , model: @user_request) do |req| %>
          <hr>
          <a>Owner of the request: <%= @user_request.staff_member.name %> </a>
          | <%= link_to 'Set owner', @user_request.uniq_url + '/setowner' %>
          <hr>
          <p>From: </p>
          <p><%= @user_request.user.name %> </p> 
          <p><%= @user_request.user.email %> </p> 
          <hr>
          <h3><%= @user_request.subject %></h3>
          <h5><%= @user_request.text %> </h5>
          <hr>
          <p>Type of the request: </p>
          <p><%= @user_request.request_type %> </p>
          <hr>
          <p>Status of the request: <%= req.select(:status , Request::STATUS_OF_REQUEST) %> </p>
               <%= button_to 'Change status' %>
          <hr>
     <%end%>
          <p style='margin-top:10px;'>Answers:</p> 
          <div class='answers'>
               <% @user_request.answers.each do |answ| %>
                         <h4> From: <%= @user_request.staff_member.name %> </h4>
                         <p>  <%= answ.answer_text %></p>
                         <p class='datestyle'>Sent at: <%= answ.created_at.strftime("%H:%M %Y-%m-%d") %></p>
                         <hr>
               <% end %>
          </div>
          <hr>
          <p style='margin-top:10px;'>Answer: </p>
          <%= form_with do |a| %>
          <%= a.text_area(:answer ,style: "width:100%; height:150px;", required: true) %>
          <%= a.submit 'Send answer' %>
          <% end %>
          <hr>
          <%= link_to 'Delete request', '/request/answer/' + @user_request.uniq_url , method: :delete %>
          
</div>