<div class='container' style='overflow: hidden;
    overflow-wrap: break-word;'>
     <%= link_to 'Back', requests_all_path %>
     <%= form_with(url: @user_request.uniq_url , action: :update , model: @user_request) do |req| %>
     <% @user_request.update(request_owner: current_staff_member.name, status: 'Opened') if @user_request.status == 'Waiting for staff response' %>
          <hr>
          <a>Owner of the request: <%= @user_request.request_owner %> </a>
          | <%= link_to 'Set owner', @user_request.uniq_url + '/setowner' %>
          <hr>
          <p>From: </p>
          <p><%= User.find(@user_request.user_id).name %> </p> 
          <p><%= User.find(@user_request.user_id).email %> </p> 
          <hr>
          <p>Subject: </p>
          <h3><%= @user_request.subject %></h3>
          <hr>
          <p>Text: </p>
          <h5><%= @user_request.text %> </h5>
          <hr>
          <p>Type of the request: </p>
          <p><%= @user_request.request_type %> </p>
          <hr>
          <p>Status of the request: <%= req.select(:status , Request::STATUS_OF_REQUEST) %> </p>
               <%= button_to 'Change status' %>
          <hr>
          <%= button_to 'Delete request', action: :destroy, method: :delete %>
          <hr>
     <%end%>

          <p>Answer: </p>
          <%= text_area_tag(:answer, nil ,style: "width:100%;") %>
          <%= button_to 'Send answer' %>
          
</div>