<div style='margin-left:25px;'>
<%= link_to 'All requests ', requests_showall_path %>
</div>
<hr>
<div class="reqcontainer">

    <div class="reqitem">
    <h2 class="text-center" style='margin-top:20px; color: slategrey;'> Unassigned </h2>
    <hr>
    <div class='requestontable'>
    <% @user_requests_unassigned.each do |request|%>
    <div class='reqtext'>
        <p>From: <%= request.user.email %></p>
        <p>Subject: <%= request.subject %></p>
        <p>Text: <%=truncate(request.text, limit: 30) %></p>
        <p>Status: <%= request.status %></p>
        <p class='datestyle'> <%= request.created_at.strftime("%Y-%m-%d") %></p>
    <%= link_to "Read", action: 'show', uniq_url: request.uniq_url %> |
    <%= link_to "Answer", action: 'edit', uniq_url: request.uniq_url %>
    </div>
    <hr>
    <%end%>
    </div>
    </div>

    <div class="reqitem">
    <h2 class="text-center" style='margin-top:20px; color: slategrey;'> Opened </h2>
    <hr>
    <div class='requestontable'>
    <% @user_requests_opened.each do |request|%>
    <div class='reqtext'>
        <p>From: <%= request.user.email %></p>
        <p>Subject: <%= request.subject %></p>
        <p>Text: <%= truncate(request.text, limit: 30) %></p>
        <p>Status: <%= request.status %></p>
        <p class='datestyle'> <%= request.created_at.strftime("%Y-%m-%d") %></p>
    <%= link_to "Read", action: 'show', uniq_url: request.uniq_url %> |
    <%= link_to "Answer", action: 'edit', uniq_url: request.uniq_url %>
    </div>
    <hr>
    <%end%>
    </div>
    </div>

    <div class="reqitem">
    <h2 class="text-center" style='margin-top:20px; color: slategrey;'> On hold </h2>
    <hr>
    <div class='requestontable'>
    <% @user_requests_on_hold.each do |request|%>
    <div class='reqtext'>
        <p>From: <%= request.user.email %></p>
        <p>Subject: <%= request.subject %></p>
        <p>Text: <%= truncate(request.text, limit: 30) %></p>
        <p>Status: <%= request.status %></p>
        <p class='datestyle'> <%= request.created_at.strftime("%Y-%m-%d") %></p>
    <%= link_to "Read", action: 'show', uniq_url: request.uniq_url %> |
    <%= link_to "Answer", action: 'edit', uniq_url: request.uniq_url %>
    </div>
    <hr>
    <%end%>
    </div>
    </div>
    
    <div class="reqitem">
    <h2 class="text-center" style='margin-top:20px; color: slategrey;'> Closed </h2>
    <hr>
    <div class='requestontable'>
    <% @user_requests_closed.each do |request|%>
    <div class='reqtext'>
        <p>From: <%= request.user.email %></p>
        <p>Subject: <%= request.subject %></p>
        <p>Text: <%= truncate(request.text, limit: 30) %></p>
        <p>Status: <%= request.status %></p>
        <p class='datestyle'> <%= request.created_at.strftime("%Y-%m-%d") %></p>
    <%= link_to "Read", action: 'show', uniq_url: request.uniq_url %> |
    <%= link_to "Answer", action: 'edit', uniq_url: request.uniq_url %>
    </div>
    <hr>
    <%end%>
    </div>
    </div>

</div>


