<div style='margin-left:25px;'>
<%= link_to 'All requests ', requests_showall_path %>
</div>
<hr>
<div class="reqcontainer">

    <div class="reqitem">
    <h2 class="text-center" style='margin-top:20px; color: slategrey;'> Unassigned </h2>
    <hr>
    <div style='margin-left: 20px;'>
    <% @user_requests.each do |request|%>
    <% if request.status == 'Waiting for staff response' %>
        <p>From: <%= User.find(request.user_id).email %></p>
        <p>Subject: <%= request.subject %></p>
        <p>Text: <%= request.text %></p>
        <p>Status: <%= request.status %></p>
    <%= link_to "Read", action: 'show', uniq_url: request.uniq_url %> |
    <%= link_to "Answer", action: 'edit', uniq_url: request.uniq_url %>
    <hr>
    <%end%>
    <%end%>
    </div>
    </div>

    <div class="reqitem">
    <h2 class="text-center" style='margin-top:20px; color: slategrey;'> Opened </h2>
    <hr>
    <div style='margin-left: 20px;'>
    <% @user_requests.each do |request|%>
    <% if request.status == 'Opened' && request.request_owner == current_staff_member.name %>
        <p>From: <%= User.find(request.user_id).email %></p>
        <p>Subject: <%= request.subject %></p>
        <p>Text: <%= request.text %></p>
        <p>Status: <%= request.status %></p>
    <%= link_to "Read", action: 'show', uniq_url: request.uniq_url %> |
    <%= link_to "Answer", action: 'edit', uniq_url: request.uniq_url %>
    <hr>
    <%end%>
    <%end%>
    </div>
    </div>

    <div class="reqitem">
    <h2 class="text-center" style='margin-top:20px; color: slategrey;'> On hold </h2>
    <hr>
    <div style='margin-left: 20px;'>
    <% @user_requests.each do |request|%>
    <% if request.status == 'On hold' && request.request_owner == current_staff_member.name %>
        <p>From: <%= User.find(request.user_id).email %></p>
        <p>Subject: <%= request.subject %></p>
        <p>Text: <%= request.text %></p>
        <p>Status: <%= request.status %></p>
    <%= link_to "Read", action: 'show', uniq_url: request.uniq_url %> |
    <%= link_to "Answer", action: 'edit', uniq_url: request.uniq_url %>
    <hr>
    <%end%>
    <%end%>
    </div>
    </div>
    
    <div class="reqitem">
    <h2 class="text-center" style='margin-top:20px; color: slategrey;'> Closed </h2>
    <hr>
    <div style='margin-left: 20px;'>
    <% @user_requests.each do |request|%>
    <% if request.status == 'Closed' && request.request_owner == current_staff_member.name %>
        <p>From: <%= User.find(request.user_id).email %></p>
        <p>Subject: <%= request.subject %></p>
        <p>Text: <%= request.text %></p>
        <p>Status: <%= request.status %></p>
    <%= link_to "Read", action: 'show', uniq_url: request.uniq_url %> |
    <%= link_to "Answer", action: 'edit', uniq_url: request.uniq_url %>
    <hr>
    <%end%>
    <%end%>
    </div>
    </div>

</div>


