<div class='container'> 
   <hr>
        <p>From: </p>
        <p><%= User.find(@user_request.user_id).name %> </p> 
        <p><%= User.find(@user_request.user_id).email %> </p> 
   <hr>
        <p>Subject: </p>
        <h3><%= @user_request.subject %></h3>
        <hr>
        <p>Text: </p>
        <h3><%= @user_request.text %> </h3>
        <hr>
        <p>Type of the request: </p>
        <p><%= @user_request.request_type %> </p>
        <hr>
        <p>Status of the request: </p>
        <p><%= @user_request.status %> </p>
   <hr>
</div>