<!DOCTYPE html>
<html>
  <head>
    <title>SIT Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Support Issue Tracking</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <span class="p-2 text-dark"><%= link_to "Home", pages_home_path %></span>
    <span class="p-2 text-dark"><%= link_to "Help", pages_help_path %></span>
    <span class="p-2 text-dark"><%= link_to "Requests", '/requests/all' if logged_in? %></span>
    <% if !logged_in? %>
    <span class="p-2 text-dark"><%= link_to "Log in", stafflogin_path %></span>
    <% else %>
    <span class="p-2 text-dark"><%= link_to "Log in", welcome_path %></span>
    <% end %>
    <a class="p-2 text-dark"><%= current_staff_member.name if logged_in? %></a>
  </nav>
  </div>
  <div>
   <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <%= yield %>
  </div>
  </body>
</html>
